html {
  font-size: 10px;
  font-family: 'Baskervville', serif;
  background-color: #5B0EA8;
}

h1 {
  margin: 0;
  padding: 14px 0;    
  color: #5B0EA8;
  text-shadow: -3px -3px 5px black;
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: auto auto;
}

body {
  width: 600px;
  margin: auto auto;
  background-color: #FF9500;
  padding: 0 25px 25px 25px;
  border: 5px solid black;
}

